.conetendor-global {
  display: flex;
  width: 100%;
  padding: 30px 0;
}
.contenedor-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 50px;
}
.contendor-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.cuadro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  border: 4px outset rgba(0, 0, 0, 0.264);
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s ease all;
}
.cuadro-imagen {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.cuadro:hover {
  transform: scale(1.05);
  cursor: pointer;
  border: 4px dashed rgba(0, 0, 0, 0.264);
}
.contenedor-cuadros-contenedores {
  width: min-content;
  gap: 20px;
}
.contenedor-cuadros-contenedores > * {
  margin: 10px 0;
}

.contendor-2 {
  min-width: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boton-jugar {
  padding: 10px 25px;
  outline: none;
  border: none;
  border-radius: 7px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.boton-jugar:hover{
  background-color: rgba(137, 43, 226, 0.63);
  color: aliceblue;
  box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.correcto {
  background-color: rgba(0, 128, 0, 0.438);
}
.erroneo {
  background-color: rgba(128, 0, 0, 0.438);
}
